div.board_icon {
	background-image: url('../images/boardicons.png');
	background-repeat: no-repeat;
	/* The generic one, probably overwritten */
	background-position: 0px -1428px;
	width: 74px;
	height: 51px;
}
div.board_read_icon {
	background-image: url('../images/boardicons.png');
	background-repeat: no-repeat;
	/* The generic one, probably overwritten */
	background-position: -74px -1428px;
	width: 74px;
	height: 51px;
}
div.board_icon img, div.board_read_icon img {
    width: 74px;
    height: 51px;
}

/* 74x51 */
div.board_306 {
	background-position: 0px 0px;
}
div.board_307 {
	background-position: 0px -51px;
}
div.board_308 {
	background-position: 0px -102px;
}
div.board_309 {
	background-position: 0px -153px;
}
div.board_347 {
	background-position: 0px -204px;
}
div.board_346 {
	background-position: 0px -255px;
}
div.board_310 {
	background-position: 0px -306px;
}
div.board_350 {
	background-position: 0px -357px;
}
div.board_345 {
	background-position: 0px -408px;
}
div.board_311 {
	background-position: 0px -459px;
}
div.board_339 {
	background-position: 0px -510px;
}
div.board_312 {
	background-position: 0px -561px;
}
div.board_313 {
	background-position: 0px -612px;
}
div.board_314 {
	background-position: 0px -663px;
}
div.board_315 {
	background-position: 0px -714px;
}
div.board_316 {
	background-position: 0px -765px;
}
div.board_317 {
	background-position: 0px -816px;
}
div.board_318 {
	background-position: 0px -867px;
}
div.board_319 {
	background-position: 0px -918px;
}
div.board_320 {
	background-position: 0px -969px;
}
div.board_340 {
	background-position: 0px -1020px;
}
div.board_348 {
	background-position: 0px -1071px;
}
div.board_321 {
	background-position: 0px -1122px;
}
div.board_322 {
	background-position: 0px -1173px;
}
div.board_323 {
	background-position: 0px -1224px;
}
div.board_324 {
	background-position: 0px -1275px;
}
div.board_326 {
	background-position: 0px -1275px;
}
div.board_344 {
	background-position: 0px -1326px;
}
div.board_325 {
	background-position: 0px -1377px;
}
div.board_349 {
	background-position: 0px -1479px;
}
div.board_352 {
	background-position: 0px -1530px;
}
div.board_353 {
	background-position: 0px -1581px;
}
div.board_355 {
	background-position: 0px -1683px;
}
div.board_356 {
	background-position: 0px -1632px;
}
div.board_357 {
	background-position: 0px -1734px;
}
div.board_358 {
	background-position: 0px -1785px;
}
div.board_359 {
	background-position: 0px -1836px;
}
div.board_363 {
	background-position: 0px -1887px;
}
div.board_364 {
	background-position: 0px -1938px;
}
div.board_361 {
	background-position: 0px -1989px;
}
div.board_362 {
	background-position: 0px -2040px;
}
div.board_365 {
	background-position: 0px -2091px;
}

/* read board-icons */
div.board_read_306 {
	background-position: -74px 0px;
}
div.board_read_307 {
	background-position: -74px -51px;
}
div.board_read_308 {
	background-position: -74px -102px;
}
div.board_read_309 {
	background-position: -74px -153px;
}
div.board_read2_309 {
	background-position: -148px -153px;
}
div.board_read_347 {
	background-position: -74px -204px;
}
div.board_read_346 {
	background-position: -74px -255px;
}
div.board_read_310 {
	background-position: -74px -306px;
}
div.board_read2_310 {
	background-position: -148px -306px;
}
div.board_read_350 {
	background-position: -74px -357px;
}
div.board_read_345 {
	background-position: -74px -408px;
}
div.board_read_311 {
	background-position: -74px -459px;
}
div.board_read_339 {
	background-position: -74px -510px;
}
div.board_read2_339 {
	background-position: -148px -510px;
}
div.board_read_312 {
	background-position: -74px -561px;
}
div.board_read2_312 {
	background-position: -148px -561px;
}
div.board_read_313 {
	background-position: -74px -612px;
}
div.board_read_314 {
	background-position: -74px -663px;
}
div.board_read_315 {
	background-position: -74px -714px;
}
div.board_read2_315 {
	background-position: -148px -714px;
}
div.board_read_316 {
	background-position: -74px -765px;
}
div.board_read_317 {
	background-position: -74px -816px;
}
div.board_read2_317 {
	background-position: -148px -816px;
}
div.board_read_318 {
	background-position: -74px -867px;
}
div.board_read2_318 {
	background-position: -148px -867px;
}
div.board_read_319 {
	background-position: -74px -918px;
}
div.board_read2_319 {
	background-position: -148px -918px;
}
div.board_read_320 {
	background-position: -74px -969px;
}
div.board_read_340 {
	background-position: -74px -1020px;
}
div.board_read_348 {
	background-position: -74px -1071px;
}
div.board_read_321 {
	background-position: -74px -1122px;
}
div.board_read_322 {
	background-position: -74px -1173px;
}
div.board_read2_322 {
	background-position: -74px -1173px;
}
div.board_read_323 {
	background-position: -74px -1224px;
}
div.board_read_324 {
	background-position: -74px -1275px;
}
div.board_read2_324 {
	background-position: -74px -1275px;
}
div.board_read_326 {
	background-position: -74px -1275px;
}
div.board_read_344 {
	background-position: -74px -1326px;
}
div.board_read_325 {
	background-position: -74px -1377px;
}
div.board_read_349 {
	background-position: -74px -1479px;
}
div.board_read_352 {
	background-position: -74px -1530px;
}
div.board_read_353 {
	background-position: -74px -1581px;
}
div.board_read2_353 {
	background-position: -148px -1581px;
}
div.board_read_355 {
	background-position: -74px -1683px;
}
div.board_read_356 {
	background-position: -74px -1632px;
}
div.board_read_357 {
	background-position: -74px -1734px;
}
div.board_read_358 {
	background-position: -74px -1785px;
}
div.board_read_359 {
	background-position: -74px -1836px;
}
div.board_read_363 {
	background-position: -74px -1887px;
}
div.board_read_364 {
	background-position: -74px -1938px;
}
div.board_read_361 {
	background-position: -74px -1989px;
}
div.board_read_362 {
	background-position: -74px -2040px;
}
div.board_read_365 {
	background-position: -74px -2091px;
}
div.board_read2_365 {
	background-position: -74px -2091px;
}
