@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
	font-family: verdana;	
}
#intranet_body{
	margin-top:20px;
	width:790px;
	background-color:#FFFFFF;
	border:1px solid #474747;
	position:relative;
	float:left;
}
#menu{
	position:relative;
	width:170px;
	margin-left: 30px;
}
#corpo{
	width:550px;
}
#menu, #corpo{
	position:relative;
	font-size:10px;
	float:left;
	margin-bottom:50px;
}